<div class="container">
    <div class="p-5">

        <div class="row justify-content-around align-items-center">
            
            <div class="dvider1 col-4 offset-2">
                <span><img src="../../../../assets/img/android-chrome-192x192.png" alt=""></span>
                <button class="btn-login btn" (click)=navigateToLoginPage()>Login</button>
            </div>
            <div class="divider2 col-4 ">
                
                <form>
                    <div class="form-group form-group__login">
                        <label for="LoginCpf" class="LoginCpf__label">CPF</label>
                        <input type="text" class="form-control LoginCpf" id="LoginCpf" placeholder="Insira seu CPF">
                    </div>
                    <div class="form-group form-group__senha">
                        <label for="LoginPassword" class="LoginSenha__label">Senha</label>
                        <input type="password" class="form-control LoginSenha" id="LoginPassword" placeholder="Insira sua Senha">
                    </div>
                    <button type="submit" class="btn-cadastro btn" (click)=navigateToCadastroPage()>cadastre-se</button>
                </form>
            </div>
        </div>
    </div>
</div>